body {
    background-color: #fff;
    color: #333;
    font: 1.2em / 1.5 Helvetica Neue, Helvetica, Arial, sans-serif;
    padding: 1em;
    margin: 0;
  }

  .box {
    
    /* In this task, the box is displayed with a horizontal writing mode. 
    Can you add a line of CSS to change it so it uses a vertical writing 
    mode with right to left text? */

    border: 5px solid rebeccapurple;
    background-color: lightgray;
    padding: 40px;
    margin: 40px;
    writing-mode: vertical-rl;
  }
