/* There are two boxes, the first should be given a minimum height, in which case it will expand
to take the additional content but if the student removes some content the box will be at least
as tall as the min-height. The second is given a fixed height which will cause content to overflow. */

body {
    background-color: #fff;
    color: #333;
    font: 1.2em / 1.5 Helvetica Neue, Helvetica, Arial, sans-serif;
    padding: 1em;
    margin: 0;
}

.box {
    border: 5px solid #000;
    width: 400px;
    margin-bottom: 1em;
}

.preview {
    min-height: 400px;
}

.box1 {
    min-height: 100px;
}

.box2 {
    height: 100px;
}